* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

    background: linear-gradient(#f3cf, rgba(141, 255, 64, 0.671), rgba(85, 164, 255, 0.8));
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: "";
    background-color: rgb(162, 162, 162);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
    transition: 0.4s ease;
}

.progress {
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid  rgb(162, 162, 162);
    transition: 0.8s ease;
}

.circle.active {
    border-color: rgb(255, 41, 41)
}

.btn {
    background-color: rgb(255, 41, 41);
    color: #fff;
    border: 0;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}

.btn:disabled {
    background-color: rgb(162, 162, 162);
    cursor: not-allowed;
}